<nav class="uk-navbar-container <%= "uk-navbar-transparent" if local_assigns[:transparent] %>" uk-navbar>
  <div class="uk-navbar-left">
    <%= link_to "Hoard", root_url, class: "uk-navbar-item uk-logo" %>

    <ul class="uk-navbar-nav">
      <% if user_signed_in? %>
        <li><%= link_to "Home",   root_url %></li>
        <li><%= link_to "Commissions", commissions_url %></li>
        <li><%= link_to "Folders", folders_url %></li>
      <% end %>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <% if user_signed_in? %>
      <ul class="uk-navbar-nav" style="background-color: #f0f0f0;">
        <li>
          <a href="">
            <span class="uk-icon uk-icon-image uk-margin-small-right" style="background-image: url(<%= current_user.image_url %>);"></span>
            @<%= current_user.username %>
          </a>
          <div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li>
                <a href="#">
                  <span class="uk-margin-small-right" uk-icon="user"></span>
                  My profile
                </a>
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                <%= link_to new_commission_url do %>
                  <span class="uk-margin-small-right" uk-icon="file-edit"></span>
                  New commission
                <% end %>
              </li>
              <li>
                <%= link_to new_folder_url do %>
                  <span class="uk-margin-small-right" uk-icon="folder"></span>
                  New folder
                <% end %>
              </li>
              <li class="uk-nav-divider"></li>
              <li>
                <%= link_to destroy_user_session_url, method: :delete do %>
                  <span class="uk-margin-small-right" uk-icon="sign-out"></span>
                  Log out
                <% end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    <% else %>
      <div class="uk-navbar-item">
        <%= link_to "Log In", user_twitter_omniauth_authorize_url, class: "uk-button uk-button-default" %>
      </div>
    <% end %>
  </div>
</nav>
