<nav class="uk-navbar-container <%= "uk-navbar-transparent" if local_assigns[:transparent] %>" uk-navbar>
  <div class="uk-navbar-left">
    <%= link_to "Hoard", root_url, class: "uk-navbar-item uk-logo" %>

    <ul class="uk-navbar-nav">
      <li><%= link_to "Home",   root_url %></li>
      <li><%= link_to "Browse", commissions_url %></li>
      <li><a href="">Upload</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <!-- TODO Build user menu here -->
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_url, method: :delete, class: "uk-button uk-button-default" %>
      <% else %>
        <%= link_to "Log In", user_twitter_omniauth_authorize_url, class: "uk-button uk-button-default" %>
      <% end %>
    </div>
  </div>
</nav>
