<h1>Commissions</h1>

<% @commissions.each do |c| %>
  <h4>
    <%= link_to c.title, c %>
    <% if c.private? %>
      <span class="uk-label">Private</span>
    <% end %>
  </h4>

  <p>
    <%= c.user.username if c.user %>
  </p>

  <p>
    <%= c.description %>
  </p>

  <p>
    <% if c.finished? %>
      <%= "Finished" %>
    <% elsif c.started? %>
      <%= "Started" %>
    <% else %>
      <%= "Not started" %>
    <% end %>
  </p>

  <hr>
<% end %>
