<h1>Commissions</h1>

<% @commissions.each do |c| %>
  <h4><%= c.title %></h4>

  <p>
    <%= c.description %>
  </p>

  <p>
    <% if c.finished? %>
      <%= "Finished" %>
    <% elsif c.started? %>
      <%= "Started" %>
    <% else %>
      <%= "Not started" %>
    <% end %>
  </p>

  <hr>
<% end %>
