<h1>
  <%= @c.title %>
  <% if @c.private? %>
    <span class="uk-label">Private</span>
  <% end %>
</h1>
<p>
  <%= @c.description %>
</p>

<p>
  <% unless @c.finished? %>
    <% if @c.started? %>
      <%= "Commission started " %>
      <%= time_ago_in_words(@c.started_at) + " ago." if @c.started_at %>
    <% else %>
      <%= "Commission not yet started." %>
    <% end %>
  <% else %>
    <%= "Commission finished " %>
    <%= time_ago_in_words(@c.finished_at) + " ago." if @c.finished_at %>
  <% end %>
</p>

<p>
  <% unless @c.finished? %>
    <% unless @c.started? %>
      <%= link_to "Mark as started", commission_start_url(@c), method: :patch %>
    <% else %>
      <%= link_to "Mark as finished", commission_finish_url(@c), method: :patch %>
    <% end %>
  <% end %>

  <%= link_to "Delete commission", @c, method: :delete %>
</p>

<p>
  <%= form_with url: {action: 'upload_file'} do |f| %>
    <%= f.file_field :files, multiple: true %>
    <%= f.submit %>
  <% end %>
</p>

<% @c.files.each do |file| %>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-body">
        <%= image_tag file %>
      </div>
      <div class="uk-card-footer">
        <%= link_to "Delete", delete_file_commission_url(file), method: :delete %>
      </div>
    </div>
  </div>
<% end %>
