<div class="uk-card uk-card-default uk-card-small">
  <div class="uk-card-body">
    <h3 class="uk-card-title">Description</h3>
    <p>
      <% unless @c.description.empty? %>
        <%= @c.description %>
      <% else %>
        <span class="uk-text-muted uk-text-italic">No description set.</span>
      <% end %>
    </p>
  </div>

  <% if user_signed_in? && (current_user.admin || current_user == @c.user) %>
    <div class="uk-card-footer">
      <p>
        <%= link_to edit_commission_url(@c), class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" do %>
          <span class="uk-margin-small-right" uk-icon="file-edit"></span>
          Edit
        <% end %>

        <%= link_to commission_url(@c), method: :delete, class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" do %>
          <span class="uk-margin-small-right" uk-icon="trash"></span>
          Delete
        <% end %>

        <% unless @c.finished? %>
          <% unless @c.started? %>
            <%= link_to commission_start_url(@c), method: :patch, class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" do %>
              <span class="uk-margin-small-right" uk-icon="tag"></span>
              Mark as started
            <% end %>
          <% else %>
            <%= link_to commission_finish_url(@c), method: :patch, class: "uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" do %>
              <span class="uk-margin-small-right" uk-icon="tag"></span>
              Mark as finished
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
