<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title_for(content_for :title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <div class="uk-container">
      <%= render "shared/flash" %>

      <div class="uk-margin-top">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
